
.container{
    width: 100%;
    margin: auto;
    font-size: small;
    display: grid;
    
}

#form{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.select-bodega{
    display: flex;
    
}